
.gh-random-favorite {
  margin-bottom: 20px;
}

.gh-random-favorite__heading {
  background-color: #F5F5F5;
  margin: 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #D8D8D8;
  border-bottom: 0;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
}

.gh-random-favorite__content {
  position: relative;
  padding: 5px 10px 5px 35px;
  background: #FFF;
  border: 1px solid #D8D8D8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
  font-size: 13px;
}

.gh-random-favorite__icon {
  position: absolute;
  top: 5px;
  left: 10px;
}

.gh-random-favorite__sub-heading {
  margin: 5px 0;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gh-random-favorite__sub-heading i {
  font-style: normal;
  font-weight: normal;
}

.gh-random-favorite .starred-repo:last-child {
  padding-top: 5px;
  border-bottom: 1px solid #D5D5D5;
}

.gh-random-favorite__content .mega-octicon {
  margin-top: 6px;
  font-size: 16px;
  color: #555;
}

.gh-random-favorite__description {
  margin-bottom: 5px;
}
